body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #56798F;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header{
    height: 80px;
    width: 100%;
    background-color: #2C5773;
    display: flex;
}

.header-left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    background: url(img/logo.png);
    height: 80px;
    width: 80px;
}

.header-middle{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wyszukaj-input{
    width: 50%;
    height: 30px;
    outline: none;
    background-color: #56798F;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.wyszukaj-input::placeholder{
    color: white;
}

.wyszukaj-input:focus::placeholder {
    color: transparent;
}



.header-right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fa-solid.fa-user-vneck{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginContainer {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

    height: 300px;
    background-color: #fff;
    border: 2px solid #2C5773;
    border-radius: 30px;
    text-align: center;
   
  }

.login-input{
    width: 70%;
    height: 30px;
    outline: none;
    background-color: #56798F;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.password-input{
    width: 70%;
    height: 30px;
    outline: none;
    background-color: #56798F;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.login-button{
    width: 30%;
    height: 30px;
    outline: none;
    background-color: #56798F;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.header-button{
    width: 30%;
    height: 30px;
    outline: none;
    background-color: #56798F;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-regular.fa-xmark-large{
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    justify-content: end;
    cursor: pointer;
}


.prognoza{
    position: relative;
    margin-top: 20px;
    width: 50vw;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
   
    
}

.prognoza-dane-miejsce{
    position: relative;
    width: 50vw;
    height: 35vh;
    margin-top: 2vh;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.prognoza-dane-miejsce-gora{
    width: 50vh;
    height: 5vh;
}

.prognoza-dane-miejsce-gora-odczuwalna{
    position: absolute;
  margin-top: 2vh;
    height: 100%;
    width: 150px;
}

.tekst-prognoza-dane-miejsce-gora-odczuwalna{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.prognoza-dane-miejsce-dol{
    display: flex;
    width: 100%;
    height: 40vh;
}

.prognoza-dane-miejsce-dol-lewo{
    width: 25vw;
    height: 35vh;
    margin-top: 8vh;
}

.prognoza-dane-miejsce-dol-prawo{
    width: 25vw;
    height: 35vh;
    margin-top: 8vh;
   
}


.prognoza-dane-miejsce-dol-info{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prognoza-dane-miejsce-dol-info-dane{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.prognoza-dane-miejsce-dol-info-tekst{
    font-size: 15px;
}

.tekst-prognoza{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    left: 0;
    top: 0;
    font-weight: bold;
}



.fa-light{
    font-size: 30px;
}

.day{
    
    text-align: center;
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kreska{
    width: 1px;
    height: 50%;
    background-color: rgb(168, 168, 168);
}

.kreska-pozioma{
    width: 100%;
    height: 1px;
    background-color: rgb(168, 168, 168);
}



.tempnoc{
    margin-top: -25px;
    font-size: 15px;
}


.pogodawmiejscu{
    text-align: center;
    margin-top: 30px;
    height: 550px;
    width: 350px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 50px;
}

.weather{
    margin-top: 25%;
}


.szukaj-button{
    height: auto;
    width: auto;
   background: none;
   border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.pogodawmiejscu{
    display: none;
}

.error{
    color: white;
    display: none;
}

.details{
    margin: auto;
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-regular.fa-wind{
    font-size: 20px;
}

.wind{
    margin-top: 25px;
}